body{background:#232323; color: #000; padding:0; margin:0; font-family: $font-stack; font-size: $body-font-size}
*{padding: 0; margin: 0; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;}
img{border: 0; max-width: 100%; height: auto; vertical-align:middle;}
ul,li{list-style: none; padding: 0; margin: 0;}
a{text-decoration: none;color: $primary-color;}
p {margin-bottom: 20px;}
.rel{position: relative;}
.abs{position: absolute;}

.align-center{text-align: center; clear:both;}
.inlineblock{display: inline-block;}
.pull-left{float: left;}
.pull-right{float: right;}
.clr:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */

// 
input:focus, 
button:focus, 
select:focus, 
a:focus, 
a:focus img, 
textarea:focus, 
:focus {
	outline:none;
	text-decoration:none; }

input[type="text"], 
input[type="submit"], 
input[type="password"] { 
	display:block; 
	border-radius:0; 
	-webkit-appearance:none; 
	text-align:left; 
	padding-left:0; }

input[type="submit"] { 
	text-align:center; }

.clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

.center-block {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
  padding-left:0px;
  padding-right:0px; }

.row .center-block {
	padding-left:15px;
	padding-right:15px; }
// 

.full-width{width: 100%;}
.boxed{width: 100%; max-width: 1154px; display: table; padding: 0 10px; margin: auto;}

.btn-primary{background: $primary-btn-color; font-size: 18px; font-weight: bold; color: #fff; display: inline-block; padding: 15px 55px; @extend .radius-large;
	&:hover{background:#e6910c;}
}
.btn-primary1 a{@extend .btn-primary; padding: 15px 25px; 
	&:hover{color: white}
}
.btn-primary.inverse{background: #fff; color:$primary-btn-color;}

.orangbg{background: #ffeacc;}
.blackbg{background: #232323;}
.orangbg-dark{background: #ab6c49;}

.sec{padding: 120px 0 90px; border-bottom: 1px solid #fff; 
		h2{color: #e6910c; font-size: 50px; text-align: center;margin-bottom: 50px;
		&:before{content: ''; display: inline-block; width: 24px; height: 22px; background: url(../images/puppy-footprint.png) no-repeat;left: 0; right: 0; position: absolute; margin: auto;
    margin-top: -40px;}
		small{display: block; margin-top: 15px; font-size: 17px; font-weight: normal; text-transform: uppercase;}
	}

}
.orangbg-dark{
		h2{color: #fff;
			&:before{color:#fff;background: url(../images/puppy-footprint-wh.png) no-repeat;}
		}
}
.corvalues{
	.media{float: left;}
	.intro{ margin-top: 60px;
		p{line-height: 30px}

		}
	}

.featured-puppy{

}
.puppies-list{margin-bottom: 40px;
	.list-item{margin-left:30px;margin-bottom:30px; background: white;border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; overflow: hidden; position: relative; padding-bottom: 40px;
		width: 260px; float: left;min-height: 344px;
	&first-child,&:nth-child(4n+1){margin-left:0;}
	.item-info{padding: 15px;
		h3{margin-bottom:10px;
			a{color: #000; font-size: 1em;
				&:hover{color:#e6910c;}
			}
		}
		
		b{color: #3f3f3f; font-size: 13px;}

	}
	.item-bar{background: #f9f9f9;display: inline-block;width: 100%; position: absolute; bottom: 0;
		span{font-size: 14px;padding: 9px;display: inline-block;}
		
	 }
	span{color: #888888; font-size: 12px; text-transform: uppercase;}
	b{color: #aa5905; font-size: 18px;}
	.btn{background: #94683a url(../images/arrow-r.png) no-repeat center; width: 62px; height: 40px; float: right;text-indent: -9999px; overflow: hidden;
		&:hover{background: #de8903 url(../images/arrow-r.png) no-repeat center;}
	}
&:hover {
    box-shadow: 0px 3px 20px 1px #000;
}
img:hover{filter: brightness(120%);}
.age{ float: right;}
}

}


.reviews{padding:50px 25px 0px 25px;
	&:before{content: ''; background: url(../images/quote.png); width: 17px; height: 16px; left: 0; right: 0; margin:auto;margin-top: -50px; position: absolute;}
	p{color: #ffdaa0; font-size: 20px; font-style: italic;	}
	.customer-info{margin: auto; display: inline-block;
		img{float: left; border-radius: 100%; -moz-border-radius: 100%; -webkit-border-radius: 100%; margin-left: 10px; width: 40px; height: 40px;}
		p{font-size: 15px; display: inline-block;text-align: left; margin-left: 10px; margin-bottom: 0; font-style: normal; color: #fff;
			b{display: block;}
		}
	}
	.review-words{margin-bottom: 40px; padding: 0 40px;}
}

footer{background: #000; padding: 10px;
.logo-sec{float: left;
	img{max-width: 165px;}
}
nav{float: left; margin-left: 30px; margin-top: 20px;
	ul li a{font-size: 13px;}
}
.contact-info{margin-top: 15px;}
}

.bx-wrapper{background:none;border: 0; box-shadow: none; overflow: hidden;}
.bx-wrapper .bx-pager.bx-default-pager a{background: #e2e4e7; width: 12px; height: 12px; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%;}
.bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus, .bx-wrapper .bx-pager.bx-default-pager a:hover {background: #e6910c;}
.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager{bottom: -60px;}
.bx-wrapper .bx-prev,.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-prev:focus{background: url(../images/arrow.png) 0 0 no-repeat; transform: rotate(-180deg); -moz-transform: rotate(-180deg); -webkit-transform: rotate(-180deg); opacity: 1;}
.bx-wrapper .bx-next,.bx-wrapper .bx-next:hover,,.bx-wrapper .bx-next:focus{background: url(../images/arrow.png) 0 0 no-repeat; opacity: 1;}
.bx-wrapper .bx-controls-direction a{height: 35px;width: 20px; top: 40%; opacity: .5;}

.titlebar{background: url(../images/title-bar-bg.jpg) repeat center;
	.boxed{position: relative; min-height: 195px;
			h1{font-size: 48px; color: #344a5f;position: absolute; top: 50%; transform: translateY(-50%);width: 100%;
				b,span{display: inline-block; vertical-align: middle;
					img{bottom: -19px; position: relative;}
				}
			}
	}
}

.puppies-list aside{float: left; width: 100%; background: white; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; padding: 15px 15px 30px; margin-bottom:20px;}
#puppies-list{float: left; width: 100%;
}

.sidebar-wrapper{
.gutter-box
    {
	
	h6
	{
	font-size:20px;
	 margin-top:36px;
	 color:#e6910c;
	}
    float: left;
    width: 17%;}
	.gutter-box:nth-child(1)
	{
	width:10%;
	}
.gutter-box:nth-child(2n)
	{
	margin-left:1%;
	margin-right:1%;
	}
.gutter-box:nth-child(4)
	{
	margin-right:1%;
	}
}

// 

.sidebar-wrapper {
	.gutter-box {
		h4 {
			padding: 15px 0;
			small {
				font-size:9px;
			}
		}
	}
}

.select {
	width: 100%;
	padding: 5px;
	border:1px solid $secondary-color;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	background:url(../images/down-arrow.png) no-repeat right center;
  	cursor: pointer;
  	line-height: 22px;

	option {
		line-height: 22px;
		color:#94683a;
		background:#fff8ef;
	}
}

.title-bar {
	background-color:#f3f0e1;
	border-bottom: 1px solid #e5d2b7;

	.boxed {
		background:url(../images/title-bar-img1.png) no-repeat right center;
	}

	h2 {
		padding-top: 80px;
		padding-bottom: 80px;
		color: #e6910c; 
		font-size: 50px;

		small {
			display: block;
			color:#333;
			font-size:18px;
			font-weight:normal;
		}
	}
}

//  Tab Detail

.tabs {
	width:100%;
	display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */

.tab-links {
	border-bottom: 1px solid #ab6c49;

	// max width 768 px
	@media (max-width: $break-sm) {
		width: 100%;
	}
}

.tab-links:after {
	display:block;
	clear:both;
	content:'';
}

.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:10px 15px;
	display:inline-block;
	border-radius:3px 3px 0px 0px;
	background:#fff;
	font-size:14px;
	font-weight:600;
	color:#ab6c49;
	transition:all linear 0.15s;
	border:1px solid #ab6c49;
	border-bottom:1px solid transparent;
	@include transition(background .3s ease);

	// max width 768 px
	@media (max-width: $break-sm) {
		padding: 5px;
		font-size:12px;
	}
}




.tab-links li.active a, 
.tab-links li.active a:hover,
.tab-links a:hover {
	background:#ab6c49;
	text-decoration:none;
	color:#fff;
}


/*----- Content of Tabs -----*/
.tab-content {
	// padding:15px;
	// border-radius:3px;
	// box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
	// background:#fff;
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}


// breed-details

.breed-details__main {
    padding: 0 0 0 30px;
    color: #333;
    line-height: 1.6;

    ul {
	    list-style: none;
	    margin: 0;
	    padding: 0;
    	li {
    		margin: 0 0 7px!important;   	
    		strong {
    			font-weight: 700;
    		}
    	}
    }
}


.col-gallery.col-4,
.col-tab.col-8 {
	@media (max-width: $break-sm) {
		 width:(100% / 1) - ($grid-spacing * 6 / 12); 
		 // width: 100%;
		border:1px solid red;
	}
}

.modal-box {
	border:1px solid #ab6c49;
	display: inline-block;
	text-align: center;
	position: relative;

	&:before {
		content:"Puppies Gallery";
		width: 100%;
		line-height:33px;
		background:#ab6c49;
		color:#fff;
		position: absolute;
		bottom: 0px;
		left: 0;
	}
}

// Contact Us
.contactus{
	h4 span{ 
	color:red;}
	
	 
}

.contactus, .whatwedo
{
 background: transparent url(../images/dog-bg1.jpg) repeat scroll 0 0/cover;
    background-attachment: fixed;
}
.contactus
{
h6
{
 border-top: 8px solid #e6910c;
    font-size: 26px;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
}
aside
{
width:60%;
padding:0px;



}
 @media (min-width: $break-xss1) and (max-width: $break-xss2)  {
	  aside, .contact-address{ width:100% !important;}
	  .gutter-box.gutter-full { width:100% !important; }
	 .gutter-box { width:49% !important;}
	 .gutter-box:nth-child(2n) { margin-left:1% !important; margin-right:1% !important;}
	  }
@media (max-width: $break-xss) { 
	 aside, .contact-address{ width:100% !important;}
	 .gutter-box { width:100% !important;}
	 .gutter-box:nth-child(2n) { margin-left:0% !important; margin-right:0% !important;}
	 }
	
.contact-address {


img
	{
	border-bottom:6px solid #e6910c;
	}
    float: right;
    width: 38%;
	min-height:442px;
	background:#fff;
	border-radius:6px;
	
}

input[type="text"] {
    -moz-appearance: none;
   
    border: 1px solid #94683a;
   
    line-height: 18px;
    padding: 5px;
    width: 100%;
	background: #fbf3e8;
}
textarea {
    -moz-appearance: none;
   
    border: 1px solid #94683a;
   
    line-height: 18px;
    padding: 5px;
    width: 99%;
	height:100px;
	background: #fbf3e8;
}
select {background:#fbf3e8 url("../images/down-arrow.png") no-repeat scroll right center}
input[type="radio"] {
    margin-right: 4px;
}
input[type="submit"] {
    background: #f7b82b;
    border-radius: 32px;
    color: #ffffff;
    float: right;
    font-size: 20px;
    margin: 22px 7px 0 0;
    padding: 12px 0;
    text-align: center;
    width: 25% !important;
	margin-bottom:15px;
	border:none;
	cursor:pointer;
	
	
	
}
.gutter-box
{
width:49%;
padding-left:15px;
padding-right:15px;

}
.gutter-full
{
width:100%;
}
.address
{
padding-left:15px;
padding-top:15px;
 p
{
margin:0px;
}
}

}

.what-img
{
img
{
  border: 4px solid #e6910c;
    border-radius: 4px;
}
 text-align:center;
}
.whatwedo 
{
h2
{
margin-top:50px;
}
p{
line-height:30px;
padding:0 20px;
}
}

.address h1 {
    color: #e6910c;
    padding-bottom:22px;
    text-decoration: underline;
    text-transform: uppercase;
}
.address a { text-decoration:underline;}
.address > p {
    margin-bottom: 16px !important;
}

.add-text label {
    float: left;
    width:106px;
}
.add-text img { border-bottom:none !important;  padding: 0 6px 0 0;}
.add-text
{
width:100%;
display:inline-block;
margin-bottom:20px;
}
.add-text strong { vertical-align:middle;}

.contactus .address {
    margin: 0 auto;
    padding-left: 50px;
    padding-top: 28px;
}

.sellurpuppy aside
{
width:100%;
padding:0 15px 0 30px;
border-top:6px solid #e6910c;
}

.sellurpuppy
{
h6
{
border-top:none;


    border-top: medium none;
    color: #e6910c;
   
}

.gutter-box
{
min-height:84px;

h4
{
padding-bottom:6px;
}
span { color:red;}

}
}
.sellurpuppy .sidebar-wrapper { width:100%; display:inline-block; margin-bottom:40px;}
.contactus .sidebar-wrapper .gutter-box h4 { padding-bottom:6px !important;}
.gutter-box > div {
    display: inline-block;
    margin-right: 32px;
}
.sellurpuppy, .contactus
{
padding:60px 0 0;
}
.sellurpuppy input[type="submit"]
{
width:16% !important;
}
.contactus input[type="submit"]:hover
{
background:#e6910c;
}
.col-gallery img {
    max-height: 453px;
    width: auto;
}
.col-tab {
    margin-top: 20px;
}
.puppy-list, .whatwedo { padding:60px 0 30px;}
.list-item > a {
    width: 100%;
    height: 198px;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    background: #6f6f6f;
}
.list-item img {
    min-height: 198px;
    max-width: 260px;
    margin: auto;
}
#filter {
    background: #f7b82b;
    border: none;
    color: #fff;
    padding: 8px 52px;
    border-radius: 31px;
    font-size: 18px;
    font-weight: bold;
    margin-top:45px;
	cursor:pointer;
	
	
}
.puppy-list .gutter-box:last-child
{
width:14%;
}

#filter:hover
{
	 background:#e6910c;
	}
	.pagination {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.pagination > a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 4px;
   
    margin: 0 10px 0 0;
    padding: 4px 13px;
}

.pagination strong {
    background: #f7b82b none repeat scroll 0 0;
    border-radius: 4px;
    margin: 0 10px 0 0;
    padding: 4px 13px;
}